APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:642KEqfh9CP7bX0buMEhDxXqiW9pv1kZjfzgPUbtHfc=
APP_DEBUG=true
APP_URL=http://localhost:8080

APP_LOCALE=en

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=daily
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=app
DB_USERNAME=username
DB_PASSWORD=password

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

GATEWAY_BASE_URL=
GATEWAY_USERNAME=
GATEWAY_PASSWORD=

SSO_BASE_URL=
SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
